<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <title>Internal</title>
    <link href="assets/styles.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <div class="col">
            <a class="navbar-brand" href="/">LogCorp</a>
        </div>
        <div class="col btn-rightalign">
            <div class="float-end">
                <a class="btn btn-secondary" href="/tickets">Tickets</a>
                <a class="btn btn-secondary" href="/supporters">Supporters</a>
                <a class="btn btn-secondary" href="/logout">Log Out</a>
            </div>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead" style="background: #5E7996">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Whatever jibberish we want</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
    <div class="container" style="height: 200px; justify-content: center">
        Can we have something nice here?
    </div>
</section>
<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid bg-light">
        <div class="row g-0" style="justify-content: center; height: 50px">
            We can have
        </div>
        <div class="row g-0" style="justify-content: center; height: 50px">
            multiple rows
        </div>
        <div class="row g-0" style="justify-content: center; height: 50px">
           of content
        </div>
    </div>
</section>
</body>
</html>