<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>LoggedOut</title>
    <link href="assets/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<section class="vh-100" style="background-color: #0a53be;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="row card-body p-5 text-center">
                        <h3>Logout Successful</h3>
                    </div>
                    <div class="row card-body" style="justify-content: center">
                        <a class="btn btn-secondary" href="/" style="max-width: 100px">Return</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
<div
        style="color:deepskyblue;margin:100px 100px">
    Logout successful
</div>
-->
</body>
</html>