<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Denied</title>
    <link href="assets/styles.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<section class="vh-100" style="background-color: #5E7996;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="row card-body p-5 text-center">
                        <h3 th:if="${message != null}" th:utext="${message}" style="color:crimson;"></h3>
                    </div>
                    <div class="row card-body" style="justify-content: center">
                        <a class="btn btn-secondary" href="/" style="max-width: 100px">Return</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>